/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/**
CSS
**/

body {
    background-color: #EEE;
}

#cover {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cover img {
    width: 60%;
    max-height: 65%;
    height: auto;
    margin: 20px;

}

#cover h1 {
    font-family: 'corbertregular', 'aaarghnormal';
    font-size: 5vh;
    margin: 8px 10px 20px 10px;
}

nav {
    color: #6c6161;
    font-family: 'corbertregular', 'aaarghnormal';

}

@media (max-width: 767px) {

    #cover h1 {
        font-size: 25em;
    }

    nav {
        font-size: 15em;
    }

}

@media (max-width: 767px) and (orientation: landscape) {


    #cover img {
        width: 60%;
        max-height: 50%;
        height: auto;
        margin: 10px;
    }

    #cover h1 {
        font-size: 45em;
    }

    nav {
        font-size: 25em;
    }

}

nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    margin: 10px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'aaarghnormal';
    src: url('../fonts/aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('../fonts/aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
    url('../fonts/aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
    url('../fonts/aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'corbertregular';
    src: url('../fonts/corbert_regular_spanish/Corbert-Regular-webfont.eot');
    src: url('../fonts/corbert_regular_spanish/Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/corbert_regular_spanish/Corbert-Regular-webfont.woff2') format('woff2'),
    url('../fonts/corbert_regular_spanish/Corbert-Regular-webfont.woff') format('woff'),
    url('../fonts/corbert_regular_spanish/Corbert-Regular-webfont.ttf') format('truetype'),
    url('../fonts/corbert_regular_spanish/Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
